#pragma once

#define DEVICE_ID "hexapod-cam-01"

#include <Arduino.h>

struct WifiCredential {
    const char* ssid;
    const char* pass;
    bool isHotspot;
    const char* mqttBroker; 
};

const WifiCredential KNOWN_NETWORKS[] = {
    {"spiderlink", "spiderbot", true, "192.168.4.1"},   // Pi Hotspot
    {"home1", "pass", false, "pi-hub.local"},
    {"home2", "***REMOVED***", false, "pi-hub.local"},
    {"Wokwi-GUEST", "", false, "broker.emqx.io"} // Testing purposes
};

const size_t KNOWN_NETWORKS_COUNT = sizeof(KNOWN_NETWORKS) / sizeof(KNOWN_NETWORKS[0]);
#define MQTT_BROKER_PORT  1883
#define MQTT_TOPIC_CMD    "hexapod/cmd"
#define MQTT_TOPIC_TEL    "hexapod/telemetry"